
/*==============navbar section==============*/
.navbar-brand{
	max-width: 12%;
	flex-basis: 12%;
}
#header-section ul li a{
	color: #2D3950;
	font-size: 17px;
	transition: .5s;
}
#header-section ul li a:hover{
	color: #fff;
	background-color: #15A4FA;
	border-radius: 3px;
}

/*==============carousel section==============*/
.carousel-inner img{
	width: 100%;
	height: 91vh;
}
.carousel-inner h2, p{
	color: #fff;
	font-weight: bold;
}


/*==============gallery section==============*/
#gallery-section{
	padding: 50px 0;
}
#gallery-section .gallerys{
	/*width: 33.33%;*/
	/*flex-basis: 33.33%;*/
	padding: 10px 15px;
}
#gallery-section .gallery{
	border: 1px solid gray;
	position: relative;
	overflow: hidden;
}
#gallery-section .gallery .overlay{
	position: absolute;
	background-color: #15a4fad9;
	width: 100%;
	height: 100%;
	bottom: 100%;
	left: 0;
	opacity: 0;
	transition: all 0.5s;
}
#gallery-section .gallery:hover .overlay{
	bottom: 0;
	opacity: 1;
}
#gallery-section .gallery h3{
	position: absolute;
	text-align: center;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all 0.6s;
	font-weight: bold;
}
#gallery-section .gallery:hover h3{
	opacity: 1;
}

/*==============button section==============*/
#button-section{
	padding: 50px 0;
}
#button-section .button{
	background-color: #dfe6e9;
	padding: 30px 0;
}


/*==============card section==============*/
#card-section{
	padding: 50px 0;
}
#card-section .cards{
	max-width: 33.33%;
	flex-basis: 33.33%;
	padding: 0 15px;
}
#card-section .cards p{
	color: #999;
	margin: 0;
	padding-left: 10px;
}
#card-section .card h5{
	color: #15A4FA;
	margin: 0;
	font-weight: 600;
	padding-left: 10px;
}
#card-section .card h3{
	color: #2D3950;
	font-weight: bold;
	padding-left: 10px;
	font-size: 25px;
}
#card-section .card-footer{
	background-color: #dfe6e9;
	padding: 10px 0;
	text-align: center;
}


/*==============modal section==============*/
#modal-video{
	padding: 50px 0;
}
#modal-video .modal-popup{
	background-color: #fff;
	margin: 0;
	height: 120px;
	text-align: center;
	padding: 20px;
	box-shadow: 0 2px 7px #999;
}


/*==============dropdown section==============*/

#dropdown-section{
	background-color: #dfe6e9;
	padding: 50px 0;
}
#dropdown-section .nav-tabs{
	color: #fff;
	border-bottom: 1px solid #fff;
}
#dropdown-section p{
	padding-top: 5px;
	color: #000;
}


/*==============form section==============*/
#form-section{
	padding: 50px 0;
	background-image: url(../imgs/img-1.jpg);
	/*height: 100vh;*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	position: relative;
}
label{
	color: #fff;
}
#form-section .btn{
	border: 0;
	color: #fff;
	background-color: #15a4fa;
}


/*==============footer section==============*/
#footer-section{
	background-color: #dfe6e9;
	padding: 20px 0;
}
#footer-section .row{
	align-items: center;
	margin: 0;
}
.social-link ul{
	justify-content: flex-end;
}
.social-link ul li{
}
.social-link ul li a{
	display: block;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #15a4fa;
    transition:all 0.5s;
}
.social-link ul li a:hover{
	background-color: #2D3950;
}






